.col{
	padding: 15px 10px;	
}

.col-1{
	flex: 5.416666666666667%;
}

.col-2{
	flex: 14%;
}

.col-3{
	flex: 20%;
}

.col-4{
	flex: 23.333333333333332%;
}

.col-5{
	flex: 32.916666666666664%;
}

.col-6{
	flex: 42.5%;
}

.col-7{
	flex: 52.08333333333333%;
}

.col-8{
	flex: 61.666666666666664%;
}

.col-9{
	flex: 71.25%;
}

.col-10{
	flex: 80.83333333333333%;
}

.col-11{
	flex: 90.41666666666666%;
}

.col-12{
	flex: 100%;
}