.row{
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	@media #{$mobile}{
		margin: 0;
	}
}