%cl1{
	flex:  5.416666666666667%;
}
%cl2{
	flex:  14%;
}
%cl3{
	flex:  20%;
}
%cl4{
	flex:  23.333333333333332%;
}
%cl5{
	flex:  32.916666666666664%;
}
%cl6{
	flex:  42.5%;
}
%cl7{
	flex:  52.08333333333333%;
}
%cl8{
	flex:  61.666666666666664%;
}
%cl9{
	flex:  71.25%;
}
%cl10{
	flex:  80.83333333333333%;
}
%cl11{
	flex:  90.41666666666666%;
}
%cl12{
	flex:  100%;
}